/* ページ全体の余白 */
body{
  margin: 0;
  padding: 24px 18px;
  background: #eee;
  color: #ccc;
  font-family: system-ui, -apple-system, "Hiragino Sans", "Noto Sans JP", sans-serif;
  font-size: 15px
}

/* 罫線ノート */

  .note{
  max-width: 780px;
  margin: 0 auto;

  font-size: 14px;        
  line-height: 2.1;       /* 行間＝罫線間隔 */

  padding: 12px 16px 18px;

  /* 罫線風・薄い実線 */
  background-image: repeating-linear-gradient(
    to bottom,
    transparent 0,
    transparent calc(2.1em - 1px),
    ##ededed calc(2.1em - 1px),
    ##ededed 2.1em
  );

  background-position: 0 0.4em; /* 文字を罫線の少し上に */
  background-repeat: repeat;
}

.note p{
  margin: 0;
}


