/* ===== 表紙デザイン ===== */
.cover{
  margin: 2em 0;
  padding: .5em 1em;
  background: #dbdbdb;
  box-shadow: 0 0 10px #cacaca;
}

.cover-inner{
  text-align: center;
}

/* タイトル */
.cover-title{
  font-size: 1.6em;
  font-weight: bold;
  line-height: 1.6;
  margin-bottom: .3em;
}

/* 色分け */
.cover-title .c1{ color:#752B35; }
.cover-title .c2{ color:#5E1013; }
.cover-title .c3{ color:#BF6067; }
.cover-title .c4{ color:#991E21; }

/* サブコピー */
.cover-sub{
  font-size: .8em;
  color: #752B35;
  margin-bottom: .2em;
}

/* 注意書き */
.cover-note{
  font-size: .7em;
  color: #999;
}


/* ページ全体の余白 */
body{
  margin: 0;
  padding: 24px 18px;
  background: #fff;
  color: #000;
  font-family: system-ui, -apple-system, "Hiragino Sans", "Noto Sans JP", sans-serif;
  font-size: 15px
}

/* 罫線ノート */

  .note{
  max-width: 780px;
  margin: 0 auto;

  font-size: 14px;        
  line-height: 2.1;       /* 行間＝罫線間隔 */

  padding: 12px 16px 18px;

  /* 罫線風・薄い実線 */
  background-image: repeating-linear-gradient(
    to bottom,
    transparent 0,
    transparent calc(2.1em - 1px),
    #ededed calc(2.1em - 1px),
    #ededed 2.1em
  );

  background-position: 0 0.4em; /* 文字を罫線の少し上に */
  background-repeat: repeat;
}

.note p{
  margin: 0 ;
}


